html,
body {
  margin: 0;
}


#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 40px;
  color: #222222;
  transition: color 0.2s;
}

.bm-item:hover {
  color: rgb(143, 142, 142);
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  margin-right: 20px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #323232;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 7em 2em 0;
  font-size: 1em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}